%% -*- mode: erlang; tab-width: 4; indent-tabs-mode: 1; st-rulers: [70] -*-
%% vim: ts=4 sw=4 ft=erlang noet

{erl_opts, [
	warnings_as_errors,
	debug_info
]}.

{erl_first_files, ["redneck_node"]}.

{deps, [
	{backoff, ".*", {git, "git://github.com/ferd/backoff.git", {branch, "master"}}},
	{hierdis, ".*", {git, "git://github.com/potatosalad/hierdis.git", {branch, "async-tests"}}},
	{redis_sd_spec, "0.2.*", {git, "git://github.com/redis-sd/erlang-redis_sd_spec.git", {tag, "v0.2.0"}}},
	{redis_sd_client, "0.2.*", {git, "git://github.com/redis-sd/erlang-redis_sd_client.git", {tag, "v0.2.1"}}},
	{redis_sd_server, "0.2.*", {git, "git://github.com/redis-sd/erlang-redis_sd_server.git", {tag, "v0.2.0"}}},
	{ranch, ".*", {git, "git://github.com/extend/ranch.git", {branch, "master"}}},
	{ryng, "0.2.*", {git, "git://github.com/redis-sd/erlang-ryng.git", {tag, "v0.2.0"}}}
]}.
