%% -*- mode: erlang; tab-width: 4; indent-tabs-mode: 1; st-rulers: [70] -*-
%% vim: ts=4 sw=4 ft=erlang noet

{erl_opts, [
	warnings_as_errors,
	debug_info
]}.

{deps, [
	{backoff, ".*", {git, "git://github.com/ferd/backoff.git", {branch, "master"}}},
	{hierdis, ".*", {git, "git://github.com/potatosalad/hierdis.git", {branch, "async-tests"}}},
	{redis_sd_spec, ".*", {git, "git://github.com/redis-sd/erlang-redis_sd_spec.git", {branch, "master"}}},
	{redis_sd_client, ".*", {git, "git://github.com/redis-sd/erlang-redis_sd_client.git", {branch, "master"}}},
	{redis_sd_server, ".*", {git, "git://github.com/redis-sd/erlang-redis_sd_server.git", {branch, "master"}}},
	{ranch, "0.8.*", {git, "git://github.com/extend/ranch.git", {tag, "0.8.5"}}},
	{ryng, ".*", {git, "git://github.com/redis-sd/erlang-ryng.git", {branch, "master"}}}
]}.
